.comment-list {
  @extend .list-unstyled;
}

.comment-list ol {
  list-style: none;
}

.comment-form p {
  @extend .form-group;
}

.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"],
.comment-form textarea {
  @extend .form-control;
}

.comment-form input[type="submit"] {
  @extend .btn;
  @extend .btn-secondary;
}

.comments {
  overflow-x: auto;

  h2 {
    font-size: 1.5rem;
  }

  .comment-list {
    li.comment {
      margin-bottom: 1rem;

      > article.comment-body {
        padding: 1rem;
        border: 1px solid theme_color("primary");

        .reply {
          .comment-reply-link {
            @extend .btn-primary;
            @extend .btn;

            font-size: 12px;
          }
        }
      }

      .children {
        margin-top: 1rem;
      }

      .comment-respond {
        margin-top: 1rem;
      }
    }

    .comment-meta {
      margin-bottom: 1rem;

      .comment-metadata {
        a {
          font-size: 14px;
        }
      }
    }
  }

  .comment-form {
    .form-submit {
      input[type="submit"] {
        @extend .btn;
        @extend .btn-primary;
      }
    }
  }
}
