.posts-tags {
  .post-tag {
    text-decoration: none !important;
    padding: 2px 4px;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 5px;
    display: inline-block;
    margin-bottom: 8px;
    border: 1px solid black;

    @each $name, $color in $theme-colors {
      &.bg-#{$name} {
        border: 1px solid darken($color, 20%) !important;
      }
    }
  }
}
