.content-info {
  .bi-suit-heart-fill {
    animation: pulse 5s ease infinite;
    font-size: 13px;
  }
}

@keyframes pulse {
  0% {
    font-size: 13px;
  }

  5% {
    font-size: 13.5px;
  }

  20% {
    font-size: 13px;
  }

  30% {
    font-size: 13px;
  }

  35% {
    font-size: 13.5px;
  }

  50% {
    font-size: 13px;
  }

  55% {
    font-size: 13.5px;
  }

  70% {
    font-size: 13px;
  }
}
