.front-page,
.archive {
  .post {
    header {
      .updated {
        font-size: 0.875rem;
      }

      .post-tag {
        font-size: 0.875rem;
      }

      .entry-title {
        font-size: 1.5rem;
      }
    }
  }
}

.single-post {
  .post {
    header {
      .entry-title {
        font-weight: 600;
        font-size: 2.75rem;
        line-height: 1.1;
      }
    }

    .entry-content {
      font-size: 1.25rem;
      line-height: 2rem;

      p {
        font-size: 1.1rem;
        line-height: 1.5;
      }

      h2 {
        margin-bottom: 20px;
        margin-top: 35px;
        font-size: 1.6rem;
      }

      h3 {
        font-size: 1.3rem;
      }

      strong {
        font-weight: 500;
      }

      .wp-block-embed__wrapper {
        @extend .embed-responsive;
        @extend .embed-responsive-16by9;

        iframe {
          @extend .embed-responsive-item;
        }
      }

      img {
        height: auto;
        width: 100%;
      }

      code {
        background: black;
        border-radius: 10px;
        color: #48c534;
        padding: 20px;
        display: block;
        margin-bottom: 20px;
      }
    }

    .related-posts {
      article {
        header {
          h4 {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .single-post {
    .post {
      header {
        .entry-title {
          font-size: 3.75rem;
        }
      }
    }
  }
}
